[Unit]
Description=Run Janitor Architecture Overview weekly on Sunday at 04:00 AM

[Timer]
OnCalendar=Sun *-*-* 04:00:00
Persistent=true

[Install]
WantedBy=timers.target
